body {
}
h1 {
}
.top_outer_body {
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
  height: 2500px;
  background-color: #263341;
}

.main_body {
  padding-left: 58px;
  padding-right: 58px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.container {
}
.h_1 {
  color: #ff6263;
  font-size: 55px;
}
.h_5 {
  color: white;
  font-family: "Antonio", sans-serif;
  font-size: 18px;
}

.circle {
  width: 90px;
  height: 90px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #03a9f4;
}

.border1 {
  border: 5px solid white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
}
.bg-color {
  background-color: #ff9800;
}
.bg-color1 {
  background-color: #03a9f4;
}
.bg-color2 {
  background-color: #f6685e;
}
.color {
  color: #f6685e;
}
.color1 {
  color: #ff9800;
}
.h_2 {
  color: white;
}

.h_3 {
  color: white;
}
.h_6 {
  color: white;
  font-family: "Antonio", sans-serif;
  font-weight: 200;
}
#frenchfries {
  text-align: center;
}
#colbill {
  text-align: center;
}

#display {
  display: inline;
}
